<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ hero.id }}</div>
  <div>
    <mat-form-field appearance="standard">
      <mat-label for="hero-name">Hero name: </mat-label>
      <input matInput id="hero-name" [(ngModel)]="hero.name" #heroName />
    </mat-form-field>
    <!-- <label for="hero-name">Hero name: </label> -->
    <!-- <input id="hero-name" [(ngModel)]="hero.name" placeholder="name" /> -->
    <button mat-flat-button color="primary" (click)="save()">Save</button>
  </div>
  <button mat-flat-button color="primary" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
